<app-navigation></app-navigation>
<div class="container">
	<router-outlet></router-outlet> 
</div>
<ng-snotify></ng-snotify>
<!-- Footer -->
<footer class="page-footer mineFooter font-small cyan darken-3">
    <!-- Footer Elements -->
    <div class="container">
      <!-- Grid row-->
      <div class="row">
        <!-- Grid column -->
          <div class="mb-5 flex-center mineMarginFooter">

            <!-- Facebook -->
            <a class="fb-ic" href="https://www.facebook.com/david.ceranic.3">
              <i class="fa fa-facebook fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
            </a>
            <!-- Twitter -->
            <a class="tw-ic" href="https://twitter.com/DavidCeranic1">
              <i class="fa fa-twitter fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
            </a>
            <!-- Google +-->
            <a class="gplus-ic" href="mailto:david.ceranic@gmail.com?subject=Pitanje">
              <i class="fa fa-google-plus fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
            </a>
            <!--Linkedin -->
            <a class="li-ic" href="#">
              <i class="fa fa-linkedin fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
            </a>
            <!--Instagram-->
            <a class="ins-ic" href="https://www.instagram.com/ceranicc/">
              <i class="fa fa-instagram fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
            </a>
            <!--Pinterest-->
            <a class="pin-ic" href="#">
              <i class="fa fa-pinterest fa-lg white-text fa-2x"> </i>
            </a>
          </div>
        </div>
        <!-- Grid column -->
      <!-- Grid row-->
    </div>
  </footer>
  <!-- Footer -->
