/* unvisited link */
small>a:link {
    color: blue;
}

/* visited link */
small>a:visited {
    color: blue;
}

/* mouse over link */
small>a:hover {
    color: #17a2b8;
    font-size: 20px;
}
