<div class="card bg-light mb-3 mineCard">
  <div class="topContainer">
  	<h1 class="mineHeader">Login</h1>
  </div>
  <form #loginForm="ngForm" (ngSubmit)="onSubmit()">

	  <div class="alert alert-danger" role="alert" [hidden]="!error" style="max-height: 40px">
  		<strong>Zrak u ruke!</strong> {{ error }}
	  </div>
	    <div class="col-md-8 offset-2 mineCol">
	      <input type="email" class="form-control" name= "email" id="inputEmail4" [(ngModel)]="form.email" placeholder="Enter your email here!" required>
	    </div>

	    <div class="col-md-8 offset-2 mineCol">
	      <input type="password" class="form-control" name="password" id="inputPassword4" [(ngModel)]="form.password" placeholder="Enter your password here!" required>
	    </div>

	    <div class="col-sm-12 mineButtonCol">
	   	 <div class="col-sm-10 offset-1">
	   	 	<button type="submit" class="btn btn-primary btn-block" [disabled]="!loginForm.valid">Sign in</button>
	   	 </div>
	    </div>
	   <div class="passwordCol">
	   	<small>
		  		<a routerLink="/request-reset" style="float: right;">
		  			I forgot my password<fa name="frown-o" animation="spin"></fa>
		  		</a>
		 </small>
	   </div>
  </form>
</div>