/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.css';
@import "~ng-snotify/styles/dark.css";

body { 
 background: url('https://picsum.photos/g/1800/970/?random') no-repeat center center fixed; 
 -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 background-size: cover;
}

.col-md-8 {
	padding: 25px 0;
}

.card {
  position: absolute; /* or absolute */
  top: 22%;
  left: 38%;
  width: 25em;
  height: 300px;
}

.ng-invalid:not(form) {
	border: 2px solid red;
}

.ng-valid:not(form) {
	border: 2px solid green;
}