/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.css';
@import "~ng-snotify/styles/dark.css";

* {
    overflow: hidden;
}
body { 
 background: url('https://picsum.photos/g/1800/970/?random') no-repeat center center fixed; 
 -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 background-size: cover;
}

.col-md-8 {
	padding: 25px 0;
}

.card {
  position: absolute; /* or absolute */
  top: 22%;
  left: 38%;
  width: 25em;
  height: 300px;
}

.ng-invalid:not(form) {
	border: 2px solid red;
}

.ng-valid:not(form) {
	border: 2px solid green;
}
/* ovo nisam ocekivao, no lijepo ispalo */
button:disabled,
button[disabled]{
  background: url('https://picsum.photos/g/1800/970/?random') no-repeat center center fixed;
  -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 background-size: cover; 
}


/* krpanje fronta */

div.mb-5>a:nth-child(even) {
    color: #17a2b8;;   
}

.fa-lg {
  line-height: 1em;
}

.mineFooter {
  width: 500px;
  height: 200px;
  position: absolute;
  top: 80%;
  left: 37%;
}

/* nav */

nav>div {
  list-style-type:none;
  padding:0;
}
nav>a {
  text-decoration: none;
  text-align: center;
  color: #fff;
  display:block;
}

nav>a:hover {
  background: #555;
}

/* responsive */
@media (min-width: 768px) {
  nav div{
    display: flex;
    justify-content: space-around; /* justify content ne moze ako postoji flex grow ili shrink"*/
    margin: 0;
  }
  nav {
    justify-content: space-between;
  }
}