.mineCard {
	max-width: 28em; 
	border: 0;
	margin-bottom: 0;
}

.topContainer {
	background-color: #343a40; 
	min-height: 38px;
}

.mineCol {
	padding: 5px;
}

.mineHeader {
	text-align: center; 
	color: white; 
	font-size: 15px;
	padding-top:5px;
} 

.formGroupButton {
	margin-bottom: 0;
}